---
layout: archive
---
<p>
 Hi there! I'm a Senior Researcher at <a href="https://www.ri.se/en/person/johan-linaker" target="_top">RISE Research Institutes of Sweden</a> and <a href="https://lu.se" target="_top">Lund University</a>. My research interests include empirical software engineering in the context of open technologies. Open technologies refer to technology-related artifacts that is shared, reused and collaboratively developed between its users and stakeholders. Here, I'm specifically interested in how actors in public and private sector can use, develop, and collaborate on Open Source Software, Open and shared data, and Open Standards to enable and promote interoperability, technological independence, and open innovation.
<p />

<h2>Recent posts</h2>
<hr>
<i>Everything from notes and thoughts, to summaries of talks, papers and reports.</i>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
