---
layout: archive
header:
  teaser: "/assets/images/home/teaser.jpg"
---


<div class="thumbnail-container">
<img src="/assets/images/home/teaser.jpg" alt="https://unsplash.com/photos/a-long-bridge-over-a-large-body-of-water-X0wvdQZbZAw"></div>
<p>
 Hi there! I'm a Senior Researcher at <a href="https://www.ri.se/en/person/johan-linaker" target="_top">RISE Research Institutes of Sweden</a> and an Adjunct Assistant Professor at <a href="https://portal.research.lu.se/sv/persons/johan-lin%C3%A5ker" target="_top">Lund University</a> living in Malmö, Sweden. This website provides my effort in promoting open science through the sharing of talks, publications, and writings I've done through the years :)
<p />

<h2>Recent blog posts</h2>
<hr>
<p>Hi there! I'm a Senior Researcher at <a href="https://www.ri.se/en/person/johan-linaker">RISE Research Institutes of Sweden</a> and an Adjunct Assistant Professor at <a href="https://portal.research.lu.se/sv/persons/johan-lin%C3%A5ker">Lund University</a>, based in Malmö, Sweden.</p>

<p>My research looks at how open source software, open source AI and data sharing can help governments and industry strengthen digital sovereignty, interoperability and open innovation. I work closely with public-sector organisations, companies and policymakers, from national networks in Sweden to EU and UN initiatives, to turn research into practical strategies, guidelines and communities.</p>

<p>Here you'll find my <a href="/publications/">publications</a>, <a href="/talks/">talks</a> and <a href="/activity/">other activities</a>, along with posts on current developments. For collaborations, talks or interviews, <a href="/contact/">get in touch</a>.</p>

<p><em>Notes, thoughts and summaries of talks, papers and reports. Some in English, some in Swedish, depending on the context :)</em></p>

{% include home-search.html %}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
