---
layout: archive
header:
  teaser: "/assets/images/home/teaser.jpg"
---


<div class="thumbnail-container">
<img src="/assets/images/home/teaser.jpg" alt="https://unsplash.com/photos/a-long-bridge-over-a-large-body-of-water-X0wvdQZbZAw"></div>
<p>
 Hi there! I'm a Senior Researcher at <a href="https://www.ri.se/en/person/johan-linaker" target="_top">RISE Research Institutes of Sweden</a> and <a href="https://lu.se" target="_top">Lund University</a> living in Malmö, Sweden. This website provides my effort in promoting open science through the sharing of talks, publications, and writings I've done through the years :)
<p />

<h2>Recent blog posts</h2>
<hr>
<i>Everything from notes and thoughts, to summaries of talks, papers and reports. Some in English, some in Swedish pending the context :)</i>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
